<!doctype html>
<html>
 <head>
  <title>école</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  <link href="fonts/css.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="index.css" />
  <link rel="stylesheet" type="text/css" href="styleform.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    
    <script src="angular.min.js"></script>
     <script src="angular-route.js"></script>
 </head>
 <body ng-app='myApp'>

  <div class="row h-100 justify-content-center align-items-center" style="margin-top:60px;" ng-controller="Ctrl">
 
    <table width="100%" class="table table-striped table-bordered table-hover">
        <thead style="background-color: #424a5d; color: #ffffff">
      <tr>
        <th >num_carte</th>
        <th >nom</th>
        <th >prenom</th>
        <th >téléphone</th>
        <th >email</th>
        <th >titulaire</th>
        <th >école_actuelle</th>
        <th >niveau</th>
        <th >spécialité</th>
        
       
      </tr>
    </thead>
      <!-- Display records -->
      <tbody style="color: white; font-weight: bold;font-size: 0.6em; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
      <tr ng-repeat="ens in enseignants">
        <td >{{ens.numc}}</td>
        <td >{{ens.nom}}</td>
        <td >{{ens.prenom}}</td>
        <td >{{ens.tel}}</td>
        <td >{{ens.email}}</td>
        <td >{{ens.tit}}</td>
        <td >{{ens.eco}}</td>
        <td >{{ens.nev}}</td>
        <td >{{ens.mod}}</td>
                
        <td> <a href="#!enseig"></a><button class="btn" ng-click="deleteData(ens.id)" ><i class="fa fa-trash" style="color: red;"></button></td>
       
      </tr>
    </tbody>
    </table>
  </div>
  <script>
   
    
    </script>
    
 
 </body>
</html>